{{#if userIsBusiness}}
<div class="bg">
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-info">
                <img class="profile-pic" src="/profile_pictures/{{user.profilePicture}}" alt="Profile Picture">
                <div class="profile-text">
                    <h2>{{user.firstName}} {{user.lastName}}</h2>
                    <p>{{user.username}}</p>
                    <textarea id="bio" name="bio" rows="2" cols="50">{{user.shortDescription}}</textarea>
                    
                    <!-- Edit & Delete Profile Buttons -->
                    <button id="editProfileButton">Edit Profile</button>
                    <button id="deleteProfileButton" class="delete-btn">Delete Profile</button>
                </div>
            </div>
        </div>
    </div>

    <div class="gym-container">
        <h2>My Establishments</h2>
        {{#each gyms}}
        <div class="gym-card">
            <img src="/establishment_pictures/{{this.image}}" alt="{{this.name}}">
            <div class="gym-details">
                <h3>{{this.name}}</h3>
                <p><strong>Location:</strong> {{this.location}}</p>
                <p><strong>Amenities:</strong> {{this.amenities}}</p>
                <p>{{this.shortDescription}}</p>

                <!-- Edit & Delete Gym Buttons -->
                <button class="editGymButton" data-id="{{this._id}}">Edit</button>
                <button class="deleteGymButton delete-btn" data-id="{{this._id}}">Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{else}}

<div class="bg">
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-info">
                <img class="profile-pic" src="/profile_pictures/{{user.profilePicture}}" alt="Profile Picture">
                <div class="profile-text">
                    <h2>{{user.firstName}} {{user.lastName}}</h2>
                    <p>{{user.reviewCount}} Reviews Made</p>
                    <textarea id="bio" name="bio" rows="2" cols="50">{{user.shortDescription}}</textarea>
                    
                    <!-- Edit & Delete Profile Buttons -->
                    <button id="editProfileButton">Edit Profile</button>
                    <button id="deleteProfileButton" class="delete-btn">Delete Profile</button>
                </div>
            </div>
        </div>
    </div>

    <div class="review-container">
    </div>
</div>

{{/if}}

<script src="/scripts/auth.js"></script>
<script src="/scripts/profile.js"></script>
