{{#if userIsBusiness}}


{{else}}

<div class="bg">
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-info">
                <img class="profile-pic" src="/profile_pictures/{{user.profilePicture}}" alt="Profile Picture">
                <div class="profile-text">
                    <h2>{{user.firstName}} {{user.lastName}}</h2>
                    <p>{{user.reviewCount}} Reviews Made</p>
                    <textarea id="bio" name="bio" rows="2" cols="50" readonly>{{user.shortDescription}}</textarea>
                    
                    <!-- Edit & Delete Profile Buttons -->
                    <button id="editPeopleProfileButton" data-toggle="modal" data-target="#editPeopleProfileModal">Edit Profile</button>
                    <button id="deletePeopleProfileButton" class="delete-btn" data-toggle="modal" data-target="#deleteProfileModal">Delete Profile</button>
                </div>
            </div>
        </div>
    </div>

    <div class="review-container">
	<h2>My Reviews</h2>
	{{#if reviews.length}}
	{{#each reviews}}
	<div class="gym-card">
		<img src="/establishment_pictures/{{this.image}}" alt="{{this.name}}">
		<div class="gym-details">
			<h3>{{this.name}}</h3>
			<p><strong>Rating:</strong> <span class="rating-stars">{{this.stars}}</span></p>
			<p><strong>Review:</strong> {{this.reviewText}}</p>
			<p>Like {{this.likes.length}} | Dislike {{this.dislikes.length}}</p>
			<button id="editReviewButton" data-toggle="modal" data-target="#editReviewModal">Edit Review</button>
                	<button id="deleteReviewButton" class="delete-btn" data-toggle="modal" data-target="#deleteReviewModal">Delete</button>
		</div>
	</div>

        <div class="modal fade" id="editReviewModal" tabindex="-1" aria-labelledby="editReviewModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editReviewModalLabel">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body" id="reviewModalBody">
                        <!-- Rating Dropdown -->
                        <label for="reviewRating" class="form-label">Rating:</label>
                        <select class="form-select" id="reviewRating" name="reviewRating">
                            <option value="0" {{#if (equal this.rating 0)}}selected{{/if}}>0 - Worst</option>
                            <option value="1" {{#if (equal this.rating 1)}}selected{{/if}}>1</option>
                            <option value="2" {{#if (equal this.rating 2)}}selected{{/if}}>2</option>
                            <option value="3" {{#if (equal this.rating 3)}}selected{{/if}}>3</option>
                            <option value="4" {{#if (equal this.rating 4)}}selected{{/if}}>4</option>
                            <option value="5" {{#if (equal this.rating 5)}}selected{{/if}}>5 - Best</option>
                        </select>

                        <textarea class="commentbox form-control mt-3" id="reviewbox" name="reviewbox" rows="4" placeholder="Leave a review">{{this.reviewText}}</textarea>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" onclick="post_review()">Accept Changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteReviewModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteLabel">Delete Review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="deleteForm">
                            <label for="reviewRating" class="form-label">Rating:</label>
                            <select class="form-select" id="reviewRating" name="reviewRating" disabled aria-disabled="true">
                                <option value="0" {{#if (equal this.rating 0)}}selected{{/if}}>0 - Worst</option>
                                <option value="1" {{#if (equal this.rating 1)}}selected{{/if}}>1</option>
                                <option value="2" {{#if (equal this.rating 2)}}selected{{/if}}>2</option>
                                <option value="3" {{#if (equal this.rating 3)}}selected{{/if}}>3</option>
                                <option value="4" {{#if (equal this.rating 4)}}selected{{/if}}>4</option>
                                <option value="5" {{#if (equal this.rating 5)}}selected{{/if}}>5 - Best</option>
                            </select>

                            <textarea class="commentbox form-control mt-3" id="reviewbox" name="reviewbox" rows="4" placeholder="Leave a review" readonly aria-readonly="true">{{this.reviewText}}</textarea>
                            <div class="form-group">
                                <label>
                                    <input type = "checkbox"> I fully understand that the following action cannot be undone.
                                </label>
                            </div>

                            <button type="submit" class="btn btn-block btn-primary login-btn mt-3" id="deleteButton">Confirm Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
	{{else}}
	    <p>No reviews yet.</p>
	{{/if}}
    </div>

    <div class="modal fade" id="editPeopleProfileModal" tabindex="-1" aria-labelledby="editPeopleProfileModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPeopleProfileModal">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" id="editPeopleProfileModalBody">
                    <form id="editPeopleProfileForm" data-user-id="{{user._id}}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="editPeopleFirstName">First Name:</label>
                                    <input type="text" class="form-control" id="editPeopleFirstName" placeholder="{{user.firstName}}" readonly aria-readonly="true">
                                </div>
                                <div class="form-group">
                                    <label for="editPeopleLastName">Last Name:</label>
                                    <input type="text" class="form-control" id="editPeopleLastName" placeholder="{{user.lastName}}" readonly aria-readonly="true">
                                </div>

                                <div class="form-group">
                                    <label for="editPeoplePassword">Password:</label>
                                    <input type="password" class="form-control" id="editPeoplePassword">
                                </div>

                                <div class="form-group">
                                    <label for="editPeopleConfirmPassword">Confirm Password:</label>
                                    <input type="password" class="form-control" id="editPeopleConfirmPassword">
                                </div>

                                <div class="form-group mt-4">
                                    <label for="accountTypeEdit">Account Type:</label>
                                    <select id="accountTypeEdit" name="accountTypeEdit" class="form-control" disabled aria-disabled="true">
                                        <option value="people" {{#if (equal user.role "people")}}selected{{/if}}>Regular User</option>
                                        <option value="business" {{#if (equal user.role "business")}}selected{{/if}}>Business Owner</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <label for="peopleProfilePictureFile">Profile Picture:</label>
                                <div class="image-upload-container">
                                    <img id="editPeopleProfileImagePreview" src="/profile_pictures/{{user.profilePicture}}" alt="Profile Preview" class="profile-image">
                                </div>

                                <div class="form-group">
                                    <input type="file" class="form-control-file mt-2" id="editPeopleProfilePictureFile" name="peopleProfilePicture" accept=".jpg">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-secondary" id="clearPeopleProfilePicture">Clear Profile Picture</button>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="editPeopleProfileDescription">Short Description:</label>
                                    <textarea class="form-control short-desc" id="editPeopleProfileDescription" rows="2">{{user.shortDescription}}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block mt-3" id="editPeopleButton">Accept Changes</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
    </div>
</div>

{{/if}}

<div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Verify Profile Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="deleteProfileForm" data-user-id="{{user._id}}">
                    <div class="form-group">
                        <label for="confirmDeleteUsername">Username:</label>
                        <input type="text" class="form-control" id="confirmDeleteUsername" placeholder="Enter Username" required>
                    </div>
                    <div class="form-group mb-5">
                        <label for="confirmDeletePassword">Password:</label>
                        <input type="password" class="form-control" id="confirmDeletePassword" placeholder="Enter Password" required>
                    </div>

                    <div>
                        <label>
                            <input type = "checkbox" id="deleteConfirmation"> I fully understand that the following action cannot be undone.
                        </label>
                    </div>

                    <button type="submit" class="btn btn-block btn-primary login-btn mt-3" id="deleteProfileButton">Confirm Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/editPeopleProfile.js"></script>
<script src="/scripts/deleteProfile.js"></script>
<script src="/scripts/auth.js"></script>
<script src="/scripts/comment.js"></script>
