<div class="bg">
    <div class="profile">
        <div class="basicInfo">
            <div class="pfp">
                <img src="/profile_pictures/{{user.profilePicture}}" 
                     alt="Profile Picture"
                     style="border-radius:25px; width:150px; height:150px; object-fit: cover;">

                <div class="wordinfo">
                    <h3>{{user.firstName}} {{user.lastName}}</h3>
                    <p>{{user.username}}</p>
                </div>
            </div>
        </div>
        <div class="bioinfo">
            <textarea id="bio" name="bio" rows="3" cols="70" style="border-radius: 25px">
                {{user.shortDescription}}
            </textarea>
        </div>
    </div>

    <div class ="reviewcontainer">
        <div class="review">
            <div class="gymthumbnail">
                <img src="https://contents.spin.ph/image/Anytime-Fitness-Gym.jpg">
            </div>
            <div>
                <div class="stars">
                    <h5><img src="../../assets/images/star5.svg" class="star-container"></h5>
                </div>
                <div class="reviewtext">
                    <p> Gym Name: Titan Gym </p>
                    <p> Review: Focuses on lifting and martial arts. A bit rough around the edges. </p>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="gymthumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTG9-E934dDzEAb_T8OhW6EARKxiZ-pFINhZA&s">
            </div>
            <div>
                <div class="stars">
                    <h5><img src="../../assets/images/star5.svg" class="star-container"></h5>
                </div>
                <div class="reviewtext">
                    <p> Gym Name: Gold Forge Gym QC </p>
                    <p> Review: Great equipment, but gets crowded during peak hours.</p>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="gymthumbnail">
                <img src="https://www.usatoday.com/gcdn/presto/2020/04/16/USAT/5b7ef814-a04d-44c8-86ef-1d47c798a1f1-Golds_gym_CharlesTown.jpg?crop=2655,1494,x10,y0&width=2655&height=1494&format=pjpg&auto=webp">
            </div>
            <div>
                <div class="stars">
                    <h5><img src="../../assets/images/star5.svg" class="star-container"></h5>
                </div>
                <div class="reviewtext">
                    <p> Gym Name: Gold Forge Gym Makati</p>
                    <p> Review: Good machines, but staff could be more helpful. </p>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="gymthumbnail">
                <img src="https://cdn.phonebooky.com/blog/wp-content/uploads/2018/12/30153027/slimmers.jpg">
            </div>
            <div>
                <div class="stars">
                    <h5><img src="../../assets/images/star5.svg" class="star-container"></h5>
                </div>
                <div class="reviewtext">
                    <p> Gym Name: FlexSpace Gym </p>
                    <p> Review: Clean, but cramped. 24/7 access is a plus.</p>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="gymthumbnail">
                <img src="https://cdn.phonebooky.com/blog/wp-content/uploads/2019/01/12172003/BKY-CN-GOLDS-GYM-8465.jpg">
            </div>
            <div>
                <div class="stars">
                    <h5><img src="../../assets/images/star5.svg" class="star-container"></h5>
                </div>
                <div class="reviewtext">
                    <p> Gym Name: Prime Fitness Gym </p>
                    <p> Review: Affordable but often noisy and overcrowded. </p>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="gymthumbnail">
                <img src="https://www.pinoyfitness.com/wp-content/uploads/2020/07/Fitness-First-1-720x404.jpg">
            </div>
            <div>
                <div class="stars">
                    <h5><img src="../../assets/images/star5.svg" class="star-container"></h5>
                </div>
                <div class="reviewtext">
                    <p> Gym Name: BodyZone Gym </p>
                    <p> Review: Decent equipment, but outdated and needs a refresh. </p>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="gymthumbnail">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Rosemount%2C_MN_-_Anytime_Fitness_gym_exterior_%2843460728481%29.jpg">
            </div>
            <div>
                <div class="stars">
                    <h5><img src="../../assets/images/star5.svg" class="star-container"></h5>
                </div>
                <div class="reviewtext">
                    <p> Gym Name: AnyFit Gym </p>
                    <p> Review: Great classes, but small space and limited equipment. </p>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="gymthumbnail">
                <img src="https://slimmersworld.com.ph/wp-content/uploads/2018/10/Slimmersworld-Locations-Banner.jpg">
            </div>
            <div>
                <div class="stars">
                    <h5><img src="../../assets/images/star5.svg" class="star-container"></h5>
                </div>
                <div class="reviewtext">
                    <p> Gym Name: CrunchCore Gym </p>
                    <p> Review: Has a foul smell and terrible equipment.</p>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="gymthumbnail">
                <img src="https://classpass-res.cloudinary.com/image/upload/f_auto/q_auto/mwgobxqyowkjbtd4szpu.jpg">
            </div>
            <div>
                <div class="stars">
                    <h5><img src="../../assets/images/star5.svg" class="star-container"></h5>
                </div>
                <div class="reviewtext">
                    <p> Gym Name: Slimmers Park Gym </p>
                    <p> Review: Average gym for new gym-goers.</p>
                </div>
            </div>
        </div>
        <div class = "review">
            <div class="gymthumbnail">
                <img src="https://assets-metrostyle.abs-cbn.com/prod/metrostyle/attachments/2865813d-74e4-4ea3-8fef-017ab2efae97_sparta.jpg">
            </div>
            <div>
                <div class="stars">
                    <h5><img src="../../assets/images/star5.svg" class="star-container"></h5>
                </div>
                <div class="reviewtext">
                    <p> Gym Name: Sparta Gym </p>
                    <p> Review: MMA and training gym, highly recommended. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/auth.js"></script>

